/data

.DS_Store
dist
dist-ssr
coverage
*.local

# local database data files and database environment files
db-dev/*.sql
!db-dev/schema.sql
db-dev/*.env

# env files
*.env

# Editor directories and files
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?