# An easy way to create a secret is to user node lib called crypto
# Go to terminal:
# > node
# > require('crypto').randomBytes(64).toString('hex')
# copy/past the key generated.
ACCESS_TOKEN_SECRET="placeholder"

REFRESH_TOKEN_SECRET="placeholder"

JWT_TOKEN_EXPIRES_IN="30m"

MB_ENV=production

PORT=8080

DB_HOST="back-prod.morphobank.org"
DB_USER="placeholder"
DB_SCHEMA=morphobank
DB_PASSWORD="placeholder"