<div style="width:100%;margin: 4px auto 0 auto">
  <table cellpadding="0" cellspacing="0" role="presentation"
    style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;height:100%;width:100%;color:#6B7280;font-family:Arial,Helvetica,sans-serif;font-weight:400;line-height:1.5;font-size:16px;margin:0;padding:0;table-layout:fixed">
    <tr style="vertical-align:top;padding:0">
      <td valign="top" style="color:#6B7280;margin:0 auto;padding:0;word-wrap:break-word;">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;margin:0 auto;max-width:1040px;width: 100%;">
          <tr>
            <td style="text-align:center">
              <a href="$FRONTEND_URL" style="border-bottom:2px solid #EE7B19;">
                <img src="cid:logo@morphobank.org" style="padding-bottom:10px;height: auto; width: 250px" />
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size: 16px; text-align: left;">
              <p>
                <div style="width:70%;margin:auto">
                  <div style="padding:25px 20px">
                    <p>
                      Dear $name,
                    </p>
                    <p>
                      MorphoBank has approved your requested Project duplication. Please log on to MorphoBank to see the new Project
                      <a href="$FRONTEND_URL/myprojects/$clonedProjectId/overview" target="_blank">$clonedProjectId</a>
                      listed in your My Projects list.
                    </p>
                    <br />
                    <p>
                      MorphoBank is supported by a voluntary institutional membership program wherein institutions become members for an
                      annual fee that is comparable to a journal subscription. Members ensure that everyone in the community has access to
                      this valuable curation and data dissemination platform. MorphoBank will always remain free to all users, and we ask
                      that the community volunteer to contribute a small amount to sustain the site.
                      <br />
                      It helps enormously if researchers like you who have data in MorphoBank and understand the value of scientific
                      databases can send a supporting email directly to your librarian about this issue and copy
                      <a href="mailto:memberships@phxbio.org">memberships@phxbio.org</a>. We will continue the conversation with them
                      and researcher input is extremely valuable in their decision making process.
                    </p>
                    <br />
                    <p>
                      For help with the site, read the <a href="https://conf.phoenixbioinformatics.org/display/MD/FAQ">FAQ section</a> or our
                      <a href="https://phoenixbioinformatics.atlassian.net/wiki/spaces/MD/overview">Documentation</a>. If you need further assistance,
                      please use our Ask Us form on the website for any questions or suggestions. We will be happy to help you in
                      any way!
                    </p>
                    <br />
                    <p>MorphoBank Administration</p>
                  </div>
                  <div style="padding:25px 20px;font-size: 11px;color:#999;text-align:center;">
                    <span style="display:block;padding-bottom:8px">This email was sent by MorphoBank.</span>
                    <span style="display:block;padding-bottom:8px;text-align:justify">
                      You are receiving this email because you are registered on MorphoBank.org with this email address, and this is a necessary legal or administrative message to our users.
                    </span>
                    <span style="display:block;padding-bottom:8px">
                      <a href="$FRONTEND_URL/">$FRONTEND_URL/</a>
                    </span>
                  </div>
                </div>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>