<div style="width:100%;margin: 4px auto 0 auto">
  <table cellpadding="0" cellspacing="0" role="presentation"
    style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;height:100%;width:100%;color:#6B7280;font-family:Arial,Helvetica,sans-serif;font-weight:400;line-height:1.5;font-size:16px;margin:0;padding:0;table-layout:fixed">
    <tr style="vertical-align:top;padding:0">
      <td valign="top" style="color:#6B7280;margin:0 auto;padding:0;word-wrap:break-word;">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;margin:0 auto;max-width:1040px;width: 100%;">
          <tr>
            <td style="text-align:center">
              <a href="https://www.morphobank.org" style="border-bottom:2px solid #EE7B19;">
                <img src="cid:logo@morphobank.org" style="padding-bottom:10px;height: auto; width: 250px" />
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size: 16px; text-align: left;">
              <p>
              <div style="width:70%;margin:auto">
                <div style="padding:25px 20px">
                  <p>
                    Dear $name,
                  </p>
                  <p>
                    Unfortunately, MorphoBank cannot fulfill your duplication request for P$projectId.
                  </p>
                  <p>
                    $reason
                  </p>
                  <br />
                  <p>
                    If you have any further questions please reach out using the Ask Us form linked from MorphoBank's home page.
                  </p>
                  <br />
                  <p>MorphoBank Administration</p>
                </div>
                <div style="padding:25px 20px;font-size: 11px;color:#999;text-align:center;">
                  <span style="display:block;padding-bottom:8px">This email was sent by MorphoBank.</span>
                  <span style="display:block;padding-bottom:8px;text-align:justify">
                    You are receiving this email because you are registered on MorphoBank.org with this email address,
                    and this is a necessary legal or administrative message to our users.
                  </span>
                  <span style="display:block;padding-bottom:8px">
                    <a href="https://morphobank.org/">https://morphobank.org/</a>
                  </span>
                </div>
              </div>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>