<div style="width:100%;margin: 4px auto 0 auto">
  <table cellpadding="0" cellspacing="0" role="presentation"
    style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;height:100%;width:100%;color:#6B7280;font-family:Arial,Helvetica,sans-serif;font-weight:400;line-height:1.5;font-size:16px;margin:0;padding:0;table-layout:fixed">
    <tr style="vertical-align:top;padding:0">
      <td valign="top" style="color:#6B7280;margin:0 auto;padding:0;word-wrap:break-word;">
        <table style="border-collapse:collapse;border-spacing:0;padding:0;margin:0 auto;max-width:1040px;width: 100%;">
          <tr>
            <td style="text-align:center">
              <a href="https://www.morphobank.org" style="border-bottom:2px solid #EE7B19;">
                <img src="cid:logo@morphobank.org" style="padding-bottom:10px;height: auto; width: 250px" />
              </a>
            </td>
          </tr>
          <tr>
            <td style="font-size: 16px; text-align: left;">
              <p>
              <div style="width:70%;margin:auto">
                <div style="padding:25px 20px">
                  <p>
                    Dear $name,
                  </p>
                  <p>
                    Thanks for registering with MorphoBank!
                  </p>
                  <p>
                    Once logged in you may create as many project spaces as you need by clicking on the 'Create new project' link in the 'My Projects' section of the site. You can invite your collaborators to join your project once it is created. If you are a student, your advisor should be a member of all projects you create.
                  </p>
                  <p>
                    For help with the site, read the FAQ section. If you need further assistance, please use our Contact Us form on the website for any questions or suggestions. We will be happy to help you in any way!
                  </p>
                  <br />
                  <p>MorphoBank Administration</p>
                </div>
                <div style="padding:25px 20px;font-size: 11px;color:#999;text-align:center;">
                  <span style="display:block;padding-bottom:8px">This email was sent by MorphoBank.</span>
                  <span style="display:block;padding-bottom:8px">
                    <a href="https://morphobank.org/">https://morphobank.org/</a>
                  </span>
                </div>
              </div>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div> 