<div style="width:100%;margin: 4px auto 0 auto">
    <table cellpadding="0" cellspacing="0" role="presentation" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:center;height:100%;width:100%;color:#6B7280;font-family:Arial,Helvetica,sans-serif;font-weight:400;line-height:1.5;font-size:16px;margin:0;padding:0;table-layout:fixed">
      <tr style="vertical-align:top;padding:0">
        <td valign="top" style="color:#6B7280;margin:0 auto;padding:0;word-wrap:break-word;">
          <table style="border-collapse:collapse;border-spacing:0;padding:0;margin:0 auto;max-width:1040px;width: 100%;">
            <tr>
              <td style="font-size: 16px; text-align: left;">
                <p style="padding:20px 0">
                    Your Morphobank password was reset on $time.<br><br>
                    If you did not reset your password, please use our Contact Us form on the website to inform us immediately.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <div style="padding:25px 20px;font-size: 11px;color:#999;text-align:center;">
                  <span style="display:block;padding-bottom:8px">
                    This email was sent by the MorphoBank team.
                  </span>
                  <span style="display:block;padding-bottom:8px">
                    <a href="https://www.morphobank.org">https://www.morphobank.org</a>
                  </span>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</div>