DB_HOST="52.27.26.239"
DB_USER="morphobank"
DB_SCHEMA="morphobank"
DB_PASSWORD=""

AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=AKIA3BLNZYQK445VHG5J
AWS_SECRET_ACCESS_KEY=

# S3 Specific Configuration
AWS_S3_DEFAULT_BUCKET=mb4-data
APP_FRONTEND_DOMAIN="http://localhost:81"